# Ignore node_modules folder
node_modules

# Ignore build artifacts
/dist

# Ignore local development environment files
.env

# Ignore editor-specific files
.vscode
.idea

# Ignore version control files
.git
.gitignore

# Ignore logs and other runtime artifacts
logs
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore yarn integrity file
.yarn-integrity

# Ignore Docker-related files
Dockerfile*
.dockerignore

# Ignore test and documentation files
__tests__
docs